Repository Sierra-KPI/Agar.io, pull requests merged in 2021-12, with the labels that each got.

#9 Food, Player and Blobs
  Agar.io/Assets/Scripts/Model/AgarioGame.cs
  Agar.io/Assets/Scripts/Model/Blob.cs
  Agar.io/Assets/Scripts/Model/Food.cs
  Agar.io/Assets/Scripts/Model/Player.cs
Labels: Model, View, Controller

#10 Object-Pooling
  Agar.io/Agar.io.sln
  Agar.io/Assets/Scripts/Model/Blob.cs
  Agar.io/Assets/Scripts/Model/Entity.cs
  Agar.io/Assets/Scripts/Model/Food.cs
  Agar.io/Assets/Scripts/View/ObjectFactory.cs
  Agar.io/Assets/Scripts/View/View.asmdef
Labels: View

#11 Server
  Agar.io/Agar.io.sln
  Agar.io/Assets/Plugins/protobuf-net.dll
  Agar.io/Assets/Scenes/MainScene.unity
  Agar.io/Assets/Scripts/Controller/Client.cs
  Agar.io/Assets/Scripts/Controller/Controller.cs
  Agar.io/Assets/Scripts/Controller/PacketHandler.cs
  Agar.io/Assets/Scripts/Controller/Packets.cs
  Agar.io/ProjectSettings/EditorBuildSettings.asset
  Agar.io/ProjectSettings/ProjectSettings.asset
  Agar.io/ProjectSettings/SceneTemplateSettings.json
  GameServer/Client.cs
  GameServer/GameServer.sln
  GameServer/PacketHandler.cs
  GameServer/Packets.cs
  GameServer/Program.cs
  GameServer/Server.cs
Labels: Server

#14 Start screen and packets
  Agar.io/Assets/Scenes/StartScene.unity
  Agar.io/Assets/Scripts/Controller/Client.cs
  Agar.io/Assets/Scripts/Controller/Controller.cs
  Agar.io/Assets/Scripts/Controller/PacketHandler.cs
  Agar.io/Assets/Scripts/Controller/PacketType.cs
  Agar.io/Assets/Scripts/Controller/Packets.cs
  Agar.io/Assets/Scripts/View/StartMenu.cs
  Agar.io/ProjectSettings/EditorBuildSettings.asset
  GameServer/Client.cs
  GameServer/PacketHandler.cs
  GameServer/PacketType.cs
  GameServer/Packets.cs
  GameServer/Server.cs
Labels: Controller, Server

#15 Board
  Agar.io/Assets/Scripts/Controller/Packets.cs
  Agar.io/Assets/Scripts/Model/AgarioGame.cs
  Agar.io/Assets/Scripts/Model/Board.cs
  Agar.io/Assets/Scripts/Model/Chunk.cs
  Agar.io/Assets/Scripts/Model/Entity.cs
  Agar.io/Assets/Scripts/Model/Food.cs
  Agar.io/Assets/Scripts/Model/Player.cs
  GameServer/Packets.cs
Labels: Model

#16 Move model to server
  Agar.io/Assets/Scripts/Controller/PacketHandler.cs
  Agar.io/Assets/Scripts/Controller/PacketType.cs
  Agar.io/Assets/Scripts/Controller/Packets.cs
  Agar.io/Assets/Scripts/View/EntityFactory.cs
  GameServer/GameServer.sln
  GameServer/Model/AgarioGame.cs
  GameServer/Model/Board.cs
  GameServer/Model/Chunk.cs
  GameServer/Model/CollisionDetection.cs
  GameServer/Model/Entity.cs
  GameServer/Model/EntityType.cs
  GameServer/Model/Food.cs
  GameServer/Model/Model.csproj
  GameServer/Model/Player.cs
  GameServer/Server/Client.cs
  GameServer/Server/PacketHandler.cs
  GameServer/Server/PacketType.cs
  GameServer/Server/Packets.cs
  GameServer/Server/Program.cs
  GameServer/Server/Server.cs
  GameServer/Server/Server.csproj
Labels: Model, Server

#18 Rounds, EndScene, Timer
  Agar.io/Agar.io.sln
  Agar.io/Assets/Prefabs/Food.prefab
  Agar.io/Assets/Prefabs/Player.prefab
  Agar.io/Assets/Prefabs/Row.prefab
  Agar.io/Assets/Scenes/EndScene.unity
  Agar.io/Assets/Scenes/MainScene.unity
  Agar.io/Assets/Scripts/Controller/Controller.asmdef
  Agar.io/Assets/Scripts/Controller/Controller.cs
  Agar.io/Assets/Scripts/Network/Network.asmdef
  Agar.io/Assets/Scripts/Network/PacketHandler.cs
  Agar.io/Assets/Scripts/Network/Packets.cs
  Agar.io/Assets/Scripts/View/EndMenu.cs
  Agar.io/Assets/Scripts/View/Timer.cs
  Agar.io/ProjectSettings/EditorBuildSettings.asset
  GameServer/Model/AgarioGame.cs
  GameServer/Server/PacketHandler.cs
  GameServer/Server/Packets.cs
  GameServer/Server/Server.cs
Labels: View, Controller

#19 Move scripts for entities into EntityFactory
  Agar.io/Assets/Scripts/View/EndMenu.cs
  Agar.io/Assets/Scripts/View/EntityFactory.cs
  Agar.io/Assets/Scripts/View/Player.cs
  Agar.io/Assets/Scripts/View/SetRandomColor.cs
Labels: Model

#20 Connect network and client
  Agar.io/Assets/Prefabs/Food.prefab
  Agar.io/Assets/Prefabs/Player.prefab
  Agar.io/Assets/Scenes/MainScene.unity
  Agar.io/Assets/Scripts/Controller/Controller.cs
  Agar.io/Assets/Scripts/Model/Entity.cs
  Agar.io/Assets/Scripts/Model/Food.cs
  Agar.io/Assets/Scripts/Model/Player.cs
  Agar.io/Assets/Scripts/Network/Client.cs
  Agar.io/Assets/Scripts/Network/Network.asmdef
  Agar.io/Assets/Scripts/Network/PacketHandler.cs
  Agar.io/Assets/Scripts/Network/Packets.cs
  Agar.io/Assets/Scripts/View/EndMenu.cs
  Agar.io/Assets/Scripts/View/EntityFactory.cs
  Agar.io/Assets/Scripts/View/View.cs
  GameServer/Model/AgarioGame.cs
  GameServer/Model/Board.cs
  GameServer/Model/Player.cs
  GameServer/Server/PacketHandler.cs
  GameServer/Server/Packets.cs
Labels: View, Controller

#21 Small tweaks
  Agar.io/Assets/Scripts/Network/PacketHandler.cs
  GameServer/Model/AgarioGame.cs
  GameServer/Model/Board.cs
  GameServer/Model/Chunk.cs
  GameServer/Model/Food.cs
  GameServer/Server/Client.cs
  GameServer/Server/PacketHandler.cs
  GameServer/Server/Packets.cs
  GameServer/Server/Program.cs
  GameServer/Server/Server.cs
Labels: Model, View, Controller, Server

#22 Fix prefabs visibility
  Agar.io/Assets/Scripts/View/View.cs
  GameServer/Server/Program.cs
Labels: View

#23 Better Collisions
  Agar.io/Assets/Scripts/Controller/Controller.cs
  GameServer/Model/AgarioGame.cs
  GameServer/Model/CollisionDetection.cs
Labels: Model
